#Exclude all
/*

#Gradle
!gradle/
!gradlew.bat
!build.gradle
!build.properties

#Git
!.gitignore

!gradle/scripts/.git

#Source
!src/

#Archive
!archive/
archive/unspecified

#Misc
!README.md
!LICENSE
!make
!make.bat
