#Exclude all
/*

#Gradle
!gradle/
!gradlew
!gradlew.bat
!build.gradle
!build.properties

#Git
!.gitignore
!.gitmodules

#Submodules
!gradle/scripts/.git

#Source
!src/

#Archive
!archive/

#Scripts
!make
!make.bat
!init
!init.bat
!update
!update.bat

#Misc
!README.md
!CONTRIBUTING.md
!LICENSE
